# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.{py,md,js,html,css}]
charset = utf-8

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# Markdown files (Markdownlint default style)
[*.md]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# JavaScript files
[*.js]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# CSS files
[*.css]
indent_style = space
indent_size = 2

# Global settings for all files not matched above
[**]
trim_trailing_whitespace = true

